@import url(../../../static/webfont/stylesheet.css);

@mixin glitchCopy { 
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.glitch {
  position: relative;
  color: #FFF;
  font-size: 100px;
  font-weight: 900;
  font-family: 'Circular Std';
  font-feature-settings: 'ss01', 'ss02';
  line-height: 100px;
}

