@import url(../../../static/webfont/stylesheet.css);

.hero {
    background-image: url(../../../content/images/person.jpg);
    background-color: #000;
    height: 100vh;
    padding: 50px;
    display: flex;
    align-items: center;
    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .row {
        display: flex;
        flex-wrap: inherit;
        overflow: hidden;
        max-height: 120%;
        @media (max-width: 991px) {
            flex-wrap: wrap;
            max-height: 120%;
        }
        .img {
            display: flex;
            justify-self: flex-end;
            align-items: center;
            padding: 0;
            overflow: hidden;
            width: 140vh;
            
            @media (max-width: 991px) {
                width: 0vh;
                visibility: hidden;
            }
            
        }
        .img-mobile {
            display: flex;
            justify-self: flex-end;
            align-items: center;
            padding: 0;
            overflow: hidden;
            width: 0vh;
            visibility: hidden;

            @media (max-width: 991px) {
                width: 45vh;
                visibility: visible;
                margin-left: 22vw;
                justify-self: center;
                align-self: center;

            }

        }
        .content {
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 5%;
            background-color: transparent;
            @media (max-width:991px) {
                width: 100%;
            }
            .content-text {
                z-index: 50;
            }
            .Typewriter span {
                color: #fff;
                font-size: 7vh;
                font-family: 'Circular Std';
                font-feature-settings: 'ss01', 'ss02';
                font-weight: 400;
                &.Typewriter__cursor {
                    color: #fff;
                }
            }
            @media (max-width:991px) {
                .glitch {
                    font-size: 8vh;
                    line-height: 40px;
                    margin-bottom: 20px;
                }
                .Typewriter span {
                    font-size: 5vh;
                }
            }
            @media (max-width:1024px) {
                .glitch {
                    font-size: 10vh;
                    line-height: 70px;
                    
                }
                .Typewriter span {
                    font-size: 5vh;
                }
            }
            @media (min-width:1025px) and (max-width: 1500px) {
                .glitch {
                    font-size: 12vh;
                    line-height: 70px;
                }
            }
            .hover-button {
                margin-top: 40px;
            }
            @media (max-width:991px) {
                margin: auto;
            }
            .float-image {
                object-fit: cover;
                position: absolute;
                width: 50px;
                @media (max-width:991px) {
                    width: 10px;
                }
                &.move-up {
                    animation: up 5s infinite  alternate;
                }
                &.move-down {
                    animation: down 5s infinite  alternate;
                }
                
                @keyframes up {
                    0% { transform: translateY(0); }
                    100% { transform: translateY(-50px); }
                }
                @keyframes down {
                    0% { transform: translateY(0); }
                    100% { transform: translateY(50px); }
                }
            }
        }
    }
}
